/* unused colors: #33A1FD (blue), #FDCA40 (yellow), #F79824 (carrot orange) */
body {
  background-color: #31393C;
}
.floating-menu {
    font-family: sans-serif;
    background: #2176FF;
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
    border-radius: 10px;
  }
  .floating-menu a, 
  .floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
  }
